/* Author: Nico Pareigis */

.container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1.6rem;
}

.intro {
  margin: 1rem auto;
  padding: 1rem 2.4rem;
  border-radius: 6px;
  font-size: 2rem;
  color: ghostwhite;
  background-color: var(--primary);
}

.intro + p {
  font-size: 1.6rem;
  margin: auto;
  margin-top: 2rem;
}

.date {
  display: none;
  font-size: 0.9rem;
}

.detail {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  height: 0;
}

.detail.visible {
  height: auto;
  padding: 1rem 1rem;
  border: 1px solid lightgray;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 2px 4px gray;
  background-color: ghostwhite;
}

.header {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 2px 2px 4px gray;
  padding: 0.3rem 0.5rem;
  overflow: hidden;
  background-color: ghostwhite;
  transition: background-color 0.3s;
}

.header:hover {
  background-color: #e8e8ef;
  cursor: pointer;
}

.header.visible {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.header .profit {
  flex-grow: 0.2;
}

.hidden {
  display: none;
}

.page {
  margin: 1.4rem auto;
  user-select: none;
}

.page .hidden {
  display: none;
}

.page > div {
  display: inline-block;
  padding: 0.4rem 0.6rem;
  text-align: center;
  transition: 0.2s;
  border-radius: 4px;
}

.page > .selected {
  color: ghostwhite;
  background-color: var(--primary);
}

.page > div:hover {
  cursor: pointer;
  background-color: lightgray;
}

.page > div.selected:hover {
  background-color: var(--secondary);
}

.profit {
  color: var(--color);
}

.stock {
  display: flex;
  flex-grow: 3;
  align-content: center;
}

.transaction {
  position: relative;
  width: clamp(320px, 70vw, 800px);
  margin: auto;
}

.transaction-data {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.transaction-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transaction-summary .profit {
  margin-bottom: 0;
}

b {
  color: #0d942b;
}

fieldset {
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 6px gray;
}

fieldset * {
  text-align: center;
}

hr {
  border: 1px solid lightgray;
  border-radius: 2px;
}

hr + p {
  font-size: 0.85rem;
  color: gray;
  margin-top: -0.3rem;
  margin-bottom: 0;
}

legend {
  margin: auto;
  background-color: ghostwhite;
  border-radius: 6px;
}

img {
  max-width: 40px;
  height: auto;
  object-fit: contain;
  clip-path: inset(94% 0 round 4px);
}

p.profit {
  font-size: 1.4rem;
}

span {
  display: inline-block;
  margin: 1rem;
}

@media (min-width: 700px) {
  .date {
    display: inline-block;
  }
  .transaction-data {
    flex-direction: row;
  }
}
