/* Autor: Alexander Lensjak */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: #121212;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#maincontainer{
  display: flex;
  flex-direction: row;
  width: 400%;
  height: 93vh;

  position: relative;
  right: 100%;
  transition: right 0.4s ease-in-out;
}

.page{
  width: 200%;
  height: 100%;
}

#news{
  background-color: aquamarine;
}

#leaderboard{
  background-color: lightblue;
}

#portfolio{
  background-color: lightcyan;
}

#profile{
  background-color: lightskyblue;
}

#left{
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#right{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

