/* Autor: Nico Pareigis */

#pass1 {
  padding-right: 28px;
}

#pass1:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.entropy {
  visibility: var(--visibility);
  background-color: var(--color);
  min-width: 200px;
  max-width: 300px;
  height: 4px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

input {
  transition: 0.2s;
}

input:disabled {
  color: black;
  background-color: lightgray;
}

input + div {
  position: relative;
  display: inline;
}

input + div > span::after {
  position: absolute;
  top: 0px;
  right: 8px;
  color: var(--primary);
  font-size: 1.2rem;
  content: '*';
}

input + div > span:hover {
  cursor: pointer;
}
