/* Author: Nico Pareigis */

#pass1:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.indicator {
  visibility: var(--visibility);
  background-color: var(--color);
  width: 300px;
  height: 4px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

input {
  transition: 0.2s;
}

input:disabled {
  color: black;
  background-color: lightgray;
}

input + div {
  position: relative;
  display: inline;
}

input + div > span::after {
  position: absolute;
  top: 2px;
  right: 10px;
  color: var(--primary);
  /* TODO: change to icon */
  content: '*';
}

input + div > span:hover {
  cursor: pointer;
}
