img {
  background-color: var(--app-primary-color);
  border-radius: 4px;
}

#entropy {
  display: none;
}

#quality {
  font-size: 0.9rem;
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

.indicator {
  display: inline-block;
  background-color: var(--color);
  width: 5%;
  height: 4px;
}
