<head>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="Login-page">
    <div class="form">
      <form action="" class="register-form">
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Password again" />
        <button>Create!</button>
        <p class="message">
          Already registered?
          <a href="">Sign-In</a>
        </p>
      </form>
      <form action="" class="login-form">
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Login</button>
        <p class="message">
          Not registered?
          <a href="">Sign-In</a>
        </p>
      </form>
    </div>
  </div>
</body>
