* {
  box-sizing: border-box;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  position: relative;
  z-index: 1;
  /* background-color: white; */
  background-color: lightgreen;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 1em;
}

.form input {
  font-size: 14px;
  outline: 0;
  background-color: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  color: black;
  border-radius: 1em;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background-color: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  transition: all 0.4s ease;
  cursor: pointer;
  border-radius: 1em;
}

.form button:hover,
.form button:active,
.form button:focus {
  background-color: #43a047;
}

.form .message {
  margin: 15px 0 0;
  /* color: #b3b3b3; */
  color: darkgray;
  font-size: 13px;
}

.form .message a {
  color: #4caf50;
  scroll-timeline-axis: none;
  font-size: 13px;
}

.main > :host {
  color: red;
}
