/* Author: Nico Pareigis */

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 6rem;
  height: 4rem;
}

.bar {
  width: 12.5%;
  margin: 0.2rem auto;
  border-radius: 0.4rem 0.4rem 0 0;
  animation: load 1.9s linear infinite;
  transform-origin: bottom;
  background-color: transparent;
}

#b1 {
  animation-delay: 0.1s;
  border-bottom-left-radius: 0.4rem;
}
#b2 {
  animation-delay: 0.2s;
}
#b3 {
  animation-delay: 0.3s;
}
#b4 {
  animation-delay: 0.4s;
}
#b5 {
  animation-delay: 0.5s;
}
#b6 {
  animation-delay: 0.6s;
  border-bottom-right-radius: 0.4rem;
}

@keyframes load {
  0%,
  10% {
    transform: scaleY(0.1);
    background: transparent;
  }
  25% {
    transform: scaleY(0.1);
    background: plum;
  }
  50% {
    transform: scaleY(1);
    background: plum;
  }
  75% {
    transform: scaleY(0.1);
    background: purple;
  }
  90%,
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
