:host {
  display: block;
  margin: 1rem;
}

hr {
  border: none;
  border-bottom: 2px solid #aaa;
  border-radius: 2px;
  width: 100%;
}

.divider {
  height: 40px;
  display: flex;
  align-items: center;
}

.was-validated input:valid {
  border: 1px solid var(--app-info-color);
}

.was-validated input:invalid ~ span::before {
  content: '⨯';
}

.was-validated input:valid ~ span::before {
  color: var(--app-info-color);
  content: '✓';
}

.was-validated input:invalid ~ .invalid-feedback {
  color: var(--app-error-color);
  margin-top: 0.2rem;
  font-size: 0.8rem;
  display: block;
}
