@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    --conatinerheight: 6vh;
    --textheight: 3vh;
}

h1{
    color: aquamarine;
}

#bigcontainer{
    height: var(--conatinerheight);
    overflow: hidden;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--conatinerheight);
    position: relative;
}

#headcontainerbackground{
    justify-content: center;
    background-color: #121212;
    z-index: 0;
    width: 100%;
}

#headcontainer{
    justify-content: space-between;
    z-index: 1;
    top: -6vh;
    width: 97%;
    left: 1.5%;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: var(--textheight);
    color: lightgoldenrodyellow;
}

#logotext{
    letter-spacing: 2px;
}

.logomask{
    filter: brightness(90%);
}

.iconmask{
    filter: invert(100%);
    width: var(--textheight);
    height: var(--textheight);
    padding-top: 0.5vh;
}