<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css">
    <title>Document</title>
</head>
<body>



    <div id="bigcontainer">
        <div id="headcontainerbackground" class="flexcontainer">
            <img src="../icons/Mediamodifier-Design.svg" alt="" height="100%" class="logomask">
        </div>
        <div id="headcontainer" class="flexcontainer">
            <div>
                <a href="">
                    <img src="../icons/list-ol.svg" alt="" class="iconmask">
                </a>
            </div>
            <div>
                <a href="#top" id="logotext">bigstocks</a>
            </div>
            <div>
                <a href="">
                    <img src="../icons/person-fill.svg" alt="" class="iconmask">
                </a>
            </div>
        </div>
    </div>





</body>
</html>