/* Autor: Alexander Schellenberg */

* {
  box-sizing: border-box;
}

h1 {
  size: 10px;
  color: #313131;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.part-container {
  margin: 4vh;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 15px 0 rgba(173, 168, 168, 0.2), 0 5px 5px 0 rgba(186, 183, 183, 0.24);
  border-radius: 1em;
  flex-basis: 45%;
  max-width: 600px;
}

.graph-container {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.allo-container {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.info-container {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-page {
  flex: 1;
  overflow: auto;
  max-height: 70vh;
}

/* Weitere Styles hier... */

.stock {
  display: inline-block;
  position: relative;
  font-size: 12px;
  background-color: #ffffff;
  color: #373737;
  width: 100%;
  margin: 10px 0 10px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 1em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 0 0 0 #fbfbfa;
  transition: 0.2s ease-in-out, 0.3s ease-in-out;
}

.prices {
  font-size: 16px;
}
