<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./leaderbaord.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="mainsimu">
      <button>Mit Freunden vergleichen</button>
      <div id="leaderboard">
        <div id="names"></div>
        <div id="scores"></div>
      </div>
      <h5>Das Leaderbaord wird jeden Wochentag um 15:45 Uhr aktualisiert</h5>
    </div>
  </body>
</html>
