<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../shared.css">
    <link rel="stylesheet" href="../../menu.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="leaderboard.css">
    <title>Document</title>
</head>
<body>
    

    


    <div id="bigcontainer">
        <div id="headcontainerbackground" class="flexcontainer">
            <img src="../header/Mediamodifier-Design.svg" alt="" height="100%" class="logomask">
        </div>
        <div id="headcontainer" class="flexcontainer">
            <div>
                <a href="">
                    <img src="../header/list-ol.svg" alt="" class="iconmask">
                </a>
            </div>
            <div>
                <a href="#top" id="logotext">bigstocks</a>
            </div>
            <div>
                <a href="">
                    <img src="../header/person-fill.svg" alt="" class="iconmask">
                </a>
            </div>
        </div>
    </div>


    <div id="maincontainer">
        <div id="left" class="spacer"></div>
        <div id="main">











            
  
  
  
            <div id="friendsbtncontainer">
                <button>View Friends Leaderboard</button>
            </div>

            <div class="contentspacer"></div>

            <div id="leaderboard">
                <div id="names" class="half">TODO: list</div>
                <div id="scores" class="half">TODO: list</div>
            </div>

            <div class="contentspacer"></div>


















  
        </div>
        <div id="right" class="spacer"></div>
    </div>


</body>
</html>